# Build context exclusions
.git
*.md
!.env
!.env.example
workspace-config/*
!workspace-config/
!workspace-config/workspace.env
!workspace-config/project_dirs.bash
**/.vscode/*
!docker/assets/dev/user/.config/Code/User/settings.json
__pycache__/
*.pyc
!.generated/
!.generated/ddf-build-hooks/
!.generated/ddf-build-hooks/**
!.generated/ddf-libs/
!.generated/ddf-libs/**
